.emailList {
    flex: 1;
    overflow: scroll;
}

.emailList__settings {
    display: flex;
    justify-content: space-between;
    position:sticky;
    top:0;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    padding-right: 10px;
    z-index: 999;
}

.emailList__sections {
 position: sticky;
 top: 0;
 display: flex;
 border-bottom: 1px solid whitesmoke;
 background-color: white;
 z-index: 999;
}